<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FlaskFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\py36\python.exe|c:\py36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>

  <appSettings>
  
    <add key="WSGI_HANDLER" value="manage.app" />
    <add key="PYTHONPATH" value="E:\MicroService" />
	
	<add key="WSGI_LOG" value="E:\MicroService\logs\flask.log" />
	<add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
    <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="C:\Users\burning.chen\.virtualenvs\burning-oJVazFy4\Scripts\activate_this.py" />
	
  </appSettings>
    <location path="static">
    </location>
</configuration>